.background-image-main {
  background-image: url('./../Images/dark-background-1.jpg');
  opacity: 0.95;
  repeat: no-repeat;
  background-size: 100%;
}

.outer-flex {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.content-main-master {
  color: #2AABE2
}

.content-right-main {
  width: 75vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.portfolio-display-main {
  width: auto;
  height: 75vh;
}

.content-left-main {
  width: 25%;
  height: auto;
}

.watchlist-left {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 25vw;
  height: 60vh;

}
.display-list-main {
  opacity: 0.2;

}
.indexes-left {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 25vw;
  height: 40vh;
}


/* Dark Grey: #393939

Deep Orange: #FF5A09

Light Orange: #ec7f37

Orange Yellow: #be4f0c

Slate: #262626

Secondhand Grey: #3f3f3f 

Whitish: #f5f5f5

Light grey: #dcdcdc

#AB0000

#D75813

#586073 */
