.outer-flex {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.content-right-main {
  background-color: lightskyblue;
  width: 75vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 25vh;
}

.watchlist-left {
  background-color: green;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 25vw;
  height: 60vh;

}

.portfolio-display-main {
  background-color: pink;
  width: auto;
  height: 75vh;
}



/* ************************** */
/* ************************** */
.content-left-main {
  background-color: red;
  width: 25%;
  height: auto;
}

.indexes-left {
  background-color: orange;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 25vw;
  height: 40vh;
}



